.body{
    

}
  
.clock {
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 60px;
    letter-spacing: 7px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, yellow, rgb(195, 204, 255));
  }

.clock::before{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,yellow,red);
    z-index: -1;
    box-shadow: -25px 25px 90px red, 25px -25px 90px yellow;
    opacity: 70%;
  }

.clock::after{
    content: "";
    position: absolute;
    width: 96%;
    height: 92%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 3;
    background-color: #222;
    z-index: -1;
}
  
.text1 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
.text2 {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
img {
    margin-top: 120px;
    width: 17%;
  }